.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #18181b;
}

.dropdown-toggle {
  padding: 10px;
  cursor: pointer;
  background-color: #18181b;
  color: white;
  border: 1px solid gray;
  width: 100%;
  border-radius: 8px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  color: white;
  background-color: #18181b;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dropdown-item {
  border-bottom: 1px solid gray;
  padding: 10px;
  margin: 0;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  cursor: pointer;
}
